<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express APIs</title>
</head>
<body>
    <h1>Star Wars</h1>

    <% episodes.forEach(function(episode)
    { %>
        <div>
            <h2><%= episode.Title %> (<%= episode.Year %>)</h2>
            <img src="<%= episode.Poster %>">
        </div>
    <% }) %> 

</body>
</html>